DATABASE_URL="file:./dev.db"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
HENRIK_API_KEY=""
ADMIN_EMAIL="admin@ascendant.local"
ADMIN_PASSWORD="change-me"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
